<!-- -----main blog ------ -->
{% extends "index.html" %} {% block content %} {% for blog in blog %}
<div class="col-lg-4 col-md-6 col-sm-12 element-item {{blog.category_filter}}  {{blog.category_filter2}}">
    <div class="our-project">
        <div class="img">
            <a class="test-popup-link" href="{{blog.image.url}}">
                <img src="{{blog.image.url}}" alt="portfolio-1" class="img-fluid">
            </a>
        </div>
        <div class="title py-2">
            <h4 class="text-uppercase"> {{blog.category}}</h4>
            <!-- <span class="text-secondary">Latest, Portfolio</span> -->
        </div>
    </div>
</div>
{% endfor %} {% endblock %}